<h1>Listing clock_ins</h1>

<table>
  <tr>
    <th>In time</th>
    <th>Task</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @clock_ins.each do |clock_in| %>
  <tr>
    <td><%= clock_in.in_time %></td>
    <td><%= clock_in.task_id %></td>
    <td><%= link_to 'Show', clock_in %></td>
    <td><%= link_to 'Edit', edit_clock_in_path(clock_in) %></td>
    <td><%= link_to 'Destroy', clock_in, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Clock in', new_clock_in_path %>
