<p id="notice"><%= notice %></p>

<p>
  <b>In time:</b>
  <%= @clock_in.in_time %>
</p>

<p>
  <b>Task:</b>
  <%= @clock_in.task_id %>
</p>


<%= link_to 'Edit', edit_clock_in_path(@clock_in) %> |
<%= link_to 'Back', clock_ins_path %>
