<%= form_for(@task) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <% f.fields_for :clock_ins do |builder| %>
  <p>
    <%= builder.label :in_time, "Clock In"%>
    <%= builder.datetime_select :in_time %>
    <%= builder.hidden_field :_destroy%>
    <%= link_to_function "remove", "remove_fields(this)" %>
  </p>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
