<h1>Listing all of your tasks since forever</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>


<% @tasks.each do |task| %>
  <% unless (openclock = task.clocks.where(:clock_out => nil).first).nil? %>
    <p><%= openclock.task.name %></p>
    <p>Started: <%= openclock.clock_in.getlocal.strftime("%a %v @ %T %Z") %></p>
    <p><%=h time_diff_in_natural_language(openclock.clock_in, Time.now) %></p>
  <% end %>
<% end %>



<% @tasks.each do |task| %>
  <tr>
    <td><%= task.name %> - <%= link_to 'Move onto '+task.name+' and start its clock', task_start_path(task) %></td>
    <td>/ <%= link_to 'Rename task', edit_task_path(task) %></td>
    <td>/ <%= link_to 'Check its clocks', task %></td>
    <td>/ <%= link_to 'Destroy task', task, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Create a New Task', new_task_path %>

