<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @task.name %>
</p>
<ol>
<% for clock in @task.clocks.order('clocks.clock_in DESC') %>
  <li><%=h clock.clock_in.getlocal.strftime("%a %v @ %T %Z") %> - <%=h clock.clock_out.getlocal.strftime("%a %v @ %T %Z")%> : <%=h time_diff_in_natural_language(clock.clock_in, clock.clock_out) %></li>
<% end %>
</ol>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>

