<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @task.name %>
</p>
<p>
   <p> <%= link_to 'Start', task_start_path(@task) %> </p>
</p>
<ol>
<% for clock_in in @task.clock_ins %>
  <li><%=h clock_in.in_time %></li>
<% end %>
</ol>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
